<a href="https://colab.research.google.com/github/smritmix3/Choregraphe-suite/blob/master/Copy_of_Finalof_Date_filter_from_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# from google.colab import files
  
  
# uploaded = files.upload()

# New Section

# New Section

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import io
import numpy as np
!pip install xlrd==1.2.0

Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
age = [1,2,3,6]

In [ ]:
def get_date_excluding_weekends(date,no_of_days):
  
  totalDays = date - timedelta(no_of_days)
  # print("====" +str(totalDays.date()))
  is_weekend = int((np.busday_count( totalDays.date(),date.date(), weekmask='Sat' or np.busday_count( totalDays.date(),date.date(), weekmask='Sun'))) or totalDays.weekday() > 4 or date.weekday() > 4)
  print(is_weekend)
  if(is_weekend):
    print("Dates fall within weekend")
    return 1, totalDays-timedelta(2)
  else:
    return 0, totalDays

In [ ]:
# Simulating otherdays as today for testing 
# dateToday = datetime.now()-timedelta(10)
dateToday = datetime.now()
# print("today   "+ str(dateToday))
dateToday = dateToday.replace(minute=00, hour=00, second=00, microsecond = 000000)
for i in age:
  print("print age "+ str(i))
  if i == 1:
    is_weekend, date_N_days_ago = get_date_excluding_weekends(dateToday,1)
    start_date_1 = date_N_days_ago
    end_date_1 = dateToday
    age2_check = date_N_days_ago-timedelta(1)
    if int(age2_check.weekday() > 4):
      # print("Include weekend")
      start_date_1 = start_date_1-timedelta(2)
    else:
      start_date_1 = start_date_1
  if i == 2:
    is_weekend, date_N_days_ago = get_date_excluding_weekends(dateToday,2)
    start_date_2 = date_N_days_ago
    end_date_2 = date_N_days_ago
    age2_check = date_N_days_ago-timedelta(1)
    # print(date_N_days_ago)
    if int(age2_check.weekday() > 4):
      # print("Include weekend")
      start_date_2 = date_N_days_ago-timedelta(2)
  if i >= 3 and i <= 5:
    is_weekend, date_N_days_ago = get_date_excluding_weekends(dateToday,3)
    start_date_3 = date_N_days_ago- timedelta(2)
    if (start_date_3.weekday() > 4):
      start_date_3 = start_date_3- timedelta(2)
    end_date_3 = date_N_days_ago
  if i > 5:
    is_weekend, date_N_days_ago = get_date_excluding_weekends(dateToday,3)
    # print(date_N_days_ago)
    earliest_date = datetime.min 
    earliest_date = datetime(1,1,1,0,0)
    start_date_6 = earliest_date
    end_date_6 = date_N_days_ago- timedelta(2)
    if (end_date_6.weekday() > 4):
      # print("weekend")
      end_date_6 = end_date_6- timedelta(2)
    end_date_6 = end_date_6 -timedelta(1)
  
print("Start_date_1 ====  " +str(start_date_1))
print("End_date_1 ======  "+str(end_date_1))
print("Age  "+str(i))
print("Start_date_2 ====  " +str(start_date_2))
print("End_date_2 ======  "+str(end_date_2))
print("Age  "+str(i))
print("Start_date_3 ====  " +str(start_date_3))
print("End_date_3 ======  "+str(end_date_3))
print("Age  "+str(i))
print("Start_date_6 ====  " +str(start_date_6))
print("End_date_6 ======  "+str(end_date_6))
print("Age  "+str(i))

print age 1
0
print age 2
0
print age 3
0
print age 6
0
Start_date_1 ====  2022-02-09 00:00:00
End_date_1 ======  2022-02-10 00:00:00
Age  6
Start_date_2 ====  2022-02-08 00:00:00
End_date_2 ======  2022-02-08 00:00:00
Age  6
Start_date_3 ====  2022-02-03 00:00:00
End_date_3 ======  2022-02-07 00:00:00
Age  6
Start_date_6 ====  0001-01-01 00:00:00
End_date_6 ======  2022-02-02 00:00:00
Age  6

In [ ]:
invoice = pd.read_excel('Unassign.xls')

In [ ]:
invoice.head()

                               Invoice Name  ...             Create Date
0  HENRY SCHEIN, INC.(HENR001#000)-87087374  ... 2021-05-13 14:24:19.387
1  HENRY SCHEIN, INC.(HENR001#000)-87268579  ... 2021-05-13 14:44:37.867
2  HENRY SCHEIN, INC.(HENR001#000)-87268535  ... 2021-05-13 14:45:12.337
3  HENRY SCHEIN, INC.(HENR001#000)-87268558  ... 2021-05-13 14:45:19.460
4  HENRY SCHEIN, INC.(HENR001#000)-87602937  ... 2021-05-27 10:41:22.367

[5 rows x 8 columns]

In [ ]:
invoice['Create Date'] = pd.to_datetime(invoice['Create Date'])

In [ ]:
invoice.head(1)

                               Invoice Name  ...             Create Date
0  HENRY SCHEIN, INC.(HENR001#000)-87087374  ... 2021-05-13 14:24:19.387

[1 rows x 8 columns]

In [ ]:
#  pd.DataFrame[column].dt.date
date_filter_1 = (invoice['Create Date'].dt.date >= start_date_1.date()) & (invoice['Create Date'].dt.date <= end_date_1.date())
date_filter_2 = (invoice['Create Date'].dt.date >= start_date_2.date()) & (invoice['Create Date'].dt.date <= end_date_2.date())
date_filter_3 = (invoice['Create Date'].dt.date >= start_date_3.date()) & (invoice['Create Date'].dt.date <= end_date_3.date())
date_filter_6 = (invoice['Create Date'].dt.date <= end_date_6.date())

In [ ]:
df_date_filter_1 = invoice.loc[date_filter_1]
df_date_filter_2 = invoice.loc[date_filter_2]
df_date_filter_3 = invoice.loc[date_filter_3]
df_date_filter_6 = invoice.loc[date_filter_6]

In [ ]:
day1 = pd.DataFrame(df_date_filter_1)
day2 = pd.DataFrame(df_date_filter_2)
day3 = pd.DataFrame(df_date_filter_3)
day6 = pd.DataFrame(df_date_filter_6)
day1_len = len(day1)
day2_len = len(day2)
day3_len = len(day3)
day6_len = len(day6)
total = day1_len + day2_len + day3_len + day6_len
data = [{'Day 1':day1_len, 'Day 2': day2_len, 'Day 3 to 5': day3_len, 'More than 5 days': day6_len, 'Total': total}]
df = pd.DataFrame(data)

In [ ]:
writer = pd.ExcelWriter('output.xlsx')
df_date_filter_1.to_excel(writer, 'Day 1')
df_date_filter_2.to_excel(writer, 'Day 2')
df_date_filter_3.to_excel(writer, 'Day 3 to 5')
df_date_filter_6.to_excel(writer, 'More than 5 days')
df.to_excel(writer, 'Total')
writer.save()
from google.colab import files
files.download("output.xlsx")

In [ ]:
# To Download in Excel format
# df_date_filter.to_excel('fileName.xls', sheet_name='Sheet1', index=False, engine='xlsxwriter')
# df_date_filter.to_excel('fileName.xls', sheet_name='Sheet2', index=False, engine='xlsxwriter')

# To Download in CSV format
# df_date_filter.to_csv('fileName_1.csv')
# If you want to download data from different path location
# df_date_filter.to_csv(r'C:\Users\925089\OneDrive - Cool\Desktop\LeanIdea\fileName_6.csv')